*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* 222 */
#container{
    width: 617px;
    height: 260px;
    border: 1px solid rgb(179, 179, 179);
    display: inline-block;
    background: #fff;
    max-width: 800px;
    background-color: rgb(240, 240, 240);
    margin-top: -100px;
}

/* 1111 */
#container form{
}

.one {
    float: left;
}

.one input{
    width: 285px;
    border: 1px solid rgb(179, 179, 179);
    color: rgb(179, 179, 179);
}

.two {
    float: left;
}

.two textarea{
    border: 1px solid rgb(179, 179, 179);
    color: rgb(179, 179, 179);
}

.container form .one{
    display: flex;
    margin: 32px 0;
}

form .one .input-data{
    width: 100%;
    height: 40px;
    margin: 0 20px;
    position: relative;
    margin-bottom: 26px;
    margin-left: 9px;
}

.submitbtn input{
    float: right;
}

.one h5{
    margin-bottom: 5px;
}

.one input{
    padding: 6px;
}

.two h5{
    margin-bottom: 5px;
}

.one {
    margin-right: 7px;
}

.two .submitbtn {
    margin-top: 9px;
}

.two .submitbtn input{
    padding: 5px 10px 5px 10px;
    background-color: rgb(75, 141, 240);
    border: 1px solid rgb(26, 111, 238);
    color: white;
}

.one #name{
    margin-top: 10px;
}

.two #message{
    margin-top: 10px;
}

.media {
    position: absolute;
    bottom: 27%;
    left: 43%;
}

.media p{
    font-size: 19px;
    margin-top: -72px;
}

#wrapper{
    max-width: 400px;
    height: 20px;
    background-color: cornflowerblue;
    margin: 0 auto;
    text-align: center;
}

.box{
    width: 50px;
    height: 20px;
    display: inline-block;
    margin-top: 48px;
    margin-right: 93px;
}

.box p{
    font-size: 13px;
    margin-top: 25px;
    color: rgb(26, 111, 238);
}

.wrapper #box1{
    margin-left: 135px;
}

.wrapper1 {
    position: absolute;
    top: 0%;
    background-color: rgb(235, 235, 235);
    width: 100%;
}

.contact{
    width: 400px;
    height: 60px;
    display: inline-block;
    margin-top: 50px;
    margin: 0px;
}

.contact #contact1{
    font-size: 55px;
    line-height: 250px;
}

.wrapper1 #contact11 {
    margin-left: 275px;
    margin-right: -125px;
}

.contact #contact{
    width: 200px;
    height: 150px;
}

.contact #contact2{
    font-size: 35px;
}

.wrapper1 p{
    margin-top: -40px;
}

.wrapper1 #contact22{
    color: rgb(160, 160, 160);
}

hr.line{
    border: none;
    height: 1px;
    background: #dddddd;
    width: 353px;
    position: absolute;
    margin-left: 136px;
    margin-top: -33px;
}